docs/vocabSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns="uri:w3id.org:cmip6.dreq.dreq:a" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="uri:w3id.org:cmip6.dreq.framework:a" xmlns:xd="http://www.pnp-software.com/XSLTdoc" targetNamespace="uri:w3id.org:cmip6.dreq.dreq:a" elementFormDefault="qualified">
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">
       Some specialised string types
    </xs:documentation></xs:annotation>
<xs:simpleType name="st__attLabel_def"><xs:restriction base="xs:string"><xs:pattern value="([a-zA-Z0-9-])+"/></xs:restriction></xs:simpleType>
<xs:simpleType name="st__attLabel_und"><xs:restriction base="xs:string"><xs:pattern value="([a-zA-Z0-9_])+"/></xs:restriction></xs:simpleType>
<xs:simpleType name="st__attLabel_int"><xs:restriction base="xs:integer"/></xs:simpleType>
<xs:simpleType name="st__attLabel_an"><xs:restriction base="xs:string"><xs:pattern value="([a-zA-Z0-9])+"/></xs:restriction></xs:simpleType>
<xs:complexType name="ct__info" mixed="true"><xs:attribute name="srcType" type="xs:string"/><xs:attribute name="srcRef" type="xs:string"/></xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">institute: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__institute">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__institute_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="institute"/>
<xs:attribute name="title" type="xs:string" fixed="Institute"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.001"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   url;
   Home pageisni;
   International Standard Name Identifier (ISO 27729)description;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__institute_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="url" type="xs:string"/>
<xs:attribute name="isni" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">model: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__model">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__model_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="model"/>
<xs:attribute name="title" type="xs:string" fixed="Model"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.002"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   description;
   url;
   altUrl;
   source;
   List of major model componentsuuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__model_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
<xs:attribute name="altUrl" type="xs:string"/>
<xs:attribute name="source" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">physicsvers: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__physicsvers">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__physicsvers_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="physicsvers"/>
<xs:attribute name="title" type="xs:string" fixed="Physics Version"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.003"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   description;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__physicsvers_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">initialisationmethod: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__initialisationmethod">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__initialisationmethod_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="initialisationmethod"/>
<xs:attribute name="title" type="xs:string" fixed="Initialisation Method"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.004"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   description;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__initialisationmethod_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelComp: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelComp">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__modelComp_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelComp"/>
<xs:attribute name="title" type="xs:string" fixed="Model Components"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.005"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   componentType;
   sizeH;
   sizeV;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelComp_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="componentType" type="xs:string"/>
<xs:attribute name="sizeH" type="xs:string"/>
<xs:attribute name="sizeV" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">activity: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__activity">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__activity_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="activity"/>
<xs:attribute name="title" type="xs:string" fixed="Coordinating activity"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.006"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   url;
   status;
   Status and role within the CMIP6 processuuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__activity_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="url" type="xs:string"/>
<xs:attribute name="status" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">product: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__product">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__product_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="product"/>
<xs:attribute name="title" type="xs:string" fixed="Data product"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.007"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__product_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">experiment: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__experiment">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__experiment_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="experiment"/>
<xs:attribute name="title" type="xs:string" fixed="Numerical Experiment"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.008"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   altLabel;
   description;
   url;
   sponsor;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__experiment_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="altLabel" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
<xs:attribute name="sponsor" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">frequency: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__frequency">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__frequency_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="frequency"/>
<xs:attribute name="title" type="xs:string" fixed="Temporal frequency of data values"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.009"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   iso;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__frequency_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="iso" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">realm: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__realm">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__realm_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="realm"/>
<xs:attribute name="title" type="xs:string" fixed="Modeling realm"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.010"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__realm_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">grid: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__grid">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__grid_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="grid"/>
<xs:attribute name="title" type="xs:string" fixed="Native grid"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.011"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__grid_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">dimensions: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__dimensions">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__dimensions_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="dimensions"/>
<xs:attribute name="title" type="xs:string" fixed="MIP table variable dimensions"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.012"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   altLabel;
   sn;
   size;
   xs:integeruuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__dimensions_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_an"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="altLabel" type="xs:string"/>
<xs:attribute name="sn" type="xs:string"/>
<xs:attribute name="size" type="xs:integer"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">forcings: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__forcings">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__forcings_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="forcings"/>
<xs:attribute name="title" type="xs:string" fixed="Forcing"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.013"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__forcings_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">table: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__table">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__table_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="table"/>
<xs:attribute name="title" type="xs:string" fixed="Data specification table"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.014"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   description;
   comment;
   frequency;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__table_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="comment" type="xs:string"/>
<xs:attribute name="frequency" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">cref: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__cref">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__cref_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="cref"/>
<xs:attribute name="title" type="xs:string" fixed="Coordinate Reference"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.015"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   label;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__cref_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">areaType: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__areaType">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__areaType_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="areaType"/>
<xs:attribute name="title" type="xs:string" fixed="CMIP Area Type"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.016"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   inCF;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__areaType_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="inCF" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">timeSlice: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__timeSlice">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__timeSlice_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="timeSlice"/>
<xs:attribute name="title" type="xs:string" fixed="Time slices used in data request"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.017"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   type;
   specification;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__timeSlice_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="type" type="xs:string"/>
<xs:attribute name="specification" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelFamily: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelFamily">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__modelFamily_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelFamily"/>
<xs:attribute name="title" type="xs:string" fixed="Family of model"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.018"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelFamily_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">priority: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__priority">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__priority_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="priority"/>
<xs:attribute name="title" type="xs:string" fixed="Variable priority"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.019"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   description;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__priority_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_int"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">qcLevel: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__qcLevel">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__qcLevel_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="qcLevel"/>
<xs:attribute name="title" type="xs:string" fixed="Quality control level"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.020"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__qcLevel_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_int"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">complianceCode: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__complianceCode">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__complianceCode_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="complianceCode"/>
<xs:attribute name="title" type="xs:string" fixed="Data specification compliance codes"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.021"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__complianceCode_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">glossary: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__glossary">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__glossary_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="glossary"/>
<xs:attribute name="title" type="xs:string" fixed="Glossary"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.022"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   fullName;
   description;
   url;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__glossary_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="fullName" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelCompType: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelCompType">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__modelCompType_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelCompType"/>
<xs:attribute name="title" type="xs:string" fixed="Model Component Types/Categories [redundant with *Native Grid*]"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.023"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelCompType_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">modelType: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelType">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__modelType_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="modelType"/>
<xs:attribute name="title" type="xs:string" fixed="Class of model"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.024"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__modelType_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">index: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__index">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__index_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="index"/>
<xs:attribute name="title" type="xs:string" fixed="Index of vocabularies"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.025"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   table;
   title;
   description;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__index_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_def"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="table" type="xs:string"/>
<xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">cmorDimAttr: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__cmorDimAttr">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__cmorDimAttr_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="cmorDimAttr"/>
<xs:attribute name="title" type="xs:string" fixed="CMOR Dimension Attributes"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.026"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   description;
   uuid;
   CMORattr;
   Corresponding label in the CMOR MIP tables, if different</xs:documentation></xs:annotation>
<xs:complexType name="ct__cmorDimAttr_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_und"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>
<xs:attribute name="CMORattr" type="xs:string"/>

</xs:complexType><!--Auto-generated vocabulary complexType declarations/>-->
<xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">processingOptions: Complex Type declaration
       </xs:documentation></xs:annotation>
<xs:complexType name="ct__processingOptions">
<xs:sequence><xs:element name="item" maxOccurs="8000" type="ct__processingOptions_vocabItem"/></xs:sequence>
<xs:attribute name="label" type="xs:string" fixed="processingOptions"/>
<xs:attribute name="title" type="xs:string" fixed="Processing steps required"/>
<xs:attribute name="id" type="xs:string" fixed="cmip.drv.027"/>
<xs:attribute name="class" fixed="vocab"/>
<xs:attribute name="uuid" type="xs:string"/>
</xs:complexType>
<xs:annotation><xs:appinfo>Attribute annotation</xs:appinfo><xs:documentation xml:lang="en">label;
   title;
   description;
   uuid;
   </xs:documentation></xs:annotation>
<xs:complexType name="ct__processingOptions_vocabItem">
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="label" type="st__attLabel_an"/>
<xs:attribute name="title" type="xs:string"/><xs:attribute name="description" type="xs:string"/>
<xs:attribute name="uuid" type="xs:string"/>

</xs:complexType><xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">
       This schema is automatically generated by xsltproc.
    </xs:documentation></xs:annotation>
<xs:element name="main"><xs:complexType><xs:all>
<!--[applying elem main]-->
<xs:element name="institute" type="ct__institute"/>
<!--[applying elem main]-->
<xs:element name="model" type="ct__model"/>
<!--[applying elem main]-->
<xs:element name="physicsvers" type="ct__physicsvers"/>
<!--[applying elem main]-->
<xs:element name="initialisationmethod" type="ct__initialisationmethod"/>
<!--[applying elem main]-->
<xs:element name="modelComp" type="ct__modelComp"/>
<!--[applying elem main]-->
<xs:element name="activity" type="ct__activity"/>
<!--[applying elem main]-->
<xs:element name="product" type="ct__product"/>
<!--[applying elem main]-->
<xs:element name="experiment" type="ct__experiment"/>
<!--[applying elem main]-->
<xs:element name="frequency" type="ct__frequency"/>
<!--[applying elem main]-->
<xs:element name="realm" type="ct__realm"/>
<!--[applying elem main]-->
<xs:element name="grid" type="ct__grid"/>
<!--[applying elem main]-->
<xs:element name="dimensions" type="ct__dimensions"/>
<!--[applying elem main]-->
<xs:element name="forcings" type="ct__forcings"/>
<!--[applying elem main]-->
<xs:element name="table" type="ct__table"/>
<!--[applying elem main]-->
<xs:element name="cref" type="ct__cref"/>
<!--[applying elem main]-->
<xs:element name="areaType" type="ct__areaType"/>
<!--[applying elem main]-->
<xs:element name="timeSlice" type="ct__timeSlice"/>
<!--[applying elem main]-->
<xs:element name="modelFamily" type="ct__modelFamily"/>
<!--[applying elem main]-->
<xs:element name="priority" type="ct__priority"/>
<!--[applying elem main]-->
<xs:element name="qcLevel" type="ct__qcLevel"/>
<!--[applying elem main]-->
<xs:element name="complianceCode" type="ct__complianceCode"/>
<!--[applying elem main]-->
<xs:element name="glossary" type="ct__glossary"/>
<!--[applying elem main]-->
<xs:element name="modelCompType" type="ct__modelCompType"/>
<!--[applying elem main]-->
<xs:element name="modelType" type="ct__modelType"/>
<!--[applying elem main]-->
<xs:element name="index" type="ct__index"/>
<!--[applying elem main]-->
<xs:element name="cmorDimAttr" type="ct__cmorDimAttr"/>
<!--[applying elem main]-->
<xs:element name="processingOptions" type="ct__processingOptions"/>
</xs:all></xs:complexType>
<xs:unique name="uniqueIdentifierConstraint"><xs:annotation><xs:appinfo>W3Schools Note</xs:appinfo><xs:documentation xml:lang="en">
       The uniqueIdentifierConstraint imposes the condition that the uuid attribute on "item" elements should have a unique value.
    </xs:documentation></xs:annotation>
<xs:selector xpath=".//item"/><xs:field xpath="@uuid"/></xs:unique>
</xs:element>
</xs:schema>
